<% title [@department_status.department.name,'Department'].join(' ') + ' | Applicant Statuses | Edit' %>

<h1>Editing Applicant Status</h1>

<%= error_messages_for :department_status %>

<% form_for :department_status, @department_status, :url => department_department_status_path(@department,@department_status), :html => { :method => :put} do |f| %>
   <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p><b>School Status</b><br />
    <%= select("department_status", "applicant_status_id", ApplicantStatus.find(:all).collect {|d| [d.status, d.id] }) %></p>
  <p>


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', department_department_statuses_path(@department_status.department)  %>
