<h1>Editing department_status</h1>

<%= error_messages_for :department_status %>

<% form_for(@department_status) do |f| %>
   <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p><b>School Status</b><br />
    <%= select("department_status", "applicant_status_id", ApplicantStatus.find(:all).collect {|d| [d.status, d.id] }) %></p>
  <p>


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', department_department_statuses_path(@department_status.department)  %>
