<% title [@department.name,'Department'].join(' ') + ' | Applicant Statuses' %>

<h1><%= [@department.name,'Department'].join(' ') %></h1>

<p style="color: #fff; font-style: italic"><%= flash[:notice] %></p>

<p>
  <h3>
    <%= link_to 'Department Information', department_path(@department) %> |
    <%= link_to 'Application Requirements', department_application_requirements_path(@department) %> |
    Applicant Statuses | 
    <%= link_to 'Degree Programs', department_degree_programs_path(@department) %>
  </h3>
</p>



<table>
  <tr>
    <th>Department Status</th>
    <th>School Status</th>
    <th colspan=2>Controls</th>
  </tr>

<% for department_status in @department_statuses %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%=h department_status.status %></td>
    <td><%=h department_status.applicant_status.status %></td>
    <td><%= link_to image_tag("edit.png",  :class => "table_image",:border => 0, :alt => "Edit", :title => "Edit this Applicant Status"), edit_department_department_status_path(@department,department_status) %></td>
    <td><%= link_to image_tag("remove.png", :class => "table_image",:border => 0, :alt => "Remove", :title => "Remove this Applicant Status"), department_department_status_path(@department,department_status), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Status', new_department_department_status_path(@department) %>
