<h1>Editing Applicant Status</h1>

<p>
  <i>Please Note: Changes made will be reflected in all applicants with this status.</i>
</p>

<%= error_messages_for :applicant_status %>

<% form_for(@applicant_status) do |f| %>
  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <b>Short Status</b><br />
    <%= f.text_field :short_status %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Cancel', applicant_statuses_path %>
