<% title [@department.name,'Department'].join(' ') + ' | Applicant Statuses | New' %>

<h1>New Applicant Status</h1>

<%= error_messages_for :applicant_status %>

<% form_for(@applicant_status) do |f| %>
  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <b>Short Status</b><br />
    <%= f.text_field :short_status %>
  </p>
  
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', applicant_statuses_path %>
