<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Notes' %>

<%= render :partial => 'graduate_applicants/navigation',
           :locals  => {:page               => 'Notes',
                        :graduate_applicant => @graduate_applicant } %>

<% form_tag graduate_applicant_notes_path(@graduate_applicant), :method => 'get' do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search" %>
<% end %>
<br />

<table>
  <tr>
    <th>Note</th>
    <th>Created</th>
    <th>Author</th>
    <th colspan=2>Actions</th>
  </tr>
<% for note in @notes -%>
  <tr id="<%= dom_id(note) %>" class="<%= cycle('even', 'odd') %>">
    <td align="left">
      <%= note.note_html %>
    </td>
    <td>
      <%= note.created_date %>
    </td>
    <td>
      <%= note.created_by %>
    </td>
    <td>
      <%= link_to image_tag("edit.png",  :class => "table_image",:border => 0),
      edit_graduate_applicant_note_path(@graduate_applicant.id,note) %>
    </td>
    <td>
    <%= link_to image_tag("remove.png", :class => "table_image",:border => 0),
      note,
      :confirm => 'Are you sure?',
      :method => :delete %>
    </td>
  </tr>
<% end -%>
</table>

<%= will_paginate @notes %>

<% if flash[:new_note_div] %>
  <div id="new_note_div">
<% else %>
  <div id="new_note_div" style="display:none;">
<% end %>

<%= render :partial => 'formatting_guide' %>

<% form_for [@graduate_applicant, @new_note] do |f| -%>
    <br>New Note:</br>
    <br><%= f.text_area(:text, :size => "100%x10") %></br>
  <br><%= f.submit 'Add this note' %> | <a href="#" onClick="new Effect.toggle('formatting_guide', 'slide');">Formatting guide</a> | <a href="#" onClick="new Effect.toggle('new_note_div', 'slide');">Cancel</a></br>
<% end -%>
</div>

<p>
  <a href="#" onClick="new Effect.toggle('new_note_div', 'slide');">Add Note</a> |
  <%= link_to 'Back to Graduate Applicants', graduate_applicants_path %>
</p>