<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Notes' %>

<p style="color: green"><%= flash[:notice] %></p>

<div id="gradAppHeader">
  <h1><%=h @graduate_applicant.full_name %></h1>
  <% form_for(@graduate_applicant) do |f| %>
    <%= select("graduate_applicant", "applicant_status_id", ApplicantStatus.find(:all).collect {|d| [d.status, d.id] }) %>
    <%= f.submit "Update" %>
  <% end %>
</div>
<p>

  <h3>
    <%= link_to 'Contact Info', graduate_applicant_path(@graduate_applicant) %> | 
    Notes | 
    <%= link_to_remote "Application Requirements",:update => "tab_content", :url => {:action => "show_applicant_requirement_info", :id => @graduate_applicant.id} %> | 
    <%= link_to 'Correspondence', graduate_applicant_correspondences_path(@graduate_applicant) %> | 
    <%= link_to_remote "Planned Program of Study",:update => "tab_content", :url => {:action => "show_ppos_info", :id => @graduate_applicant.id} %>
  </h3>
</p>

<% form_tag graduate_applicant_notes_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search Notes" %>
	</p>
<% end %>

<table>
  <tr>
    <th>Note</th>
    <th>Date Created</th>
    <th>Created By</th>
    <th>Actions</th>
  </tr>
<% for note in @notes -%>
  <tr id="<%= dom_id(note) %>" class="<%= cycle('even', 'odd') %>">
    <td align="left">
      <%= note.text %>
    </td>
    <td>
      <%= note.created_date %>
    </td>
    <td>
      <%= note.created_by %>
    </td>
    <td align="center">
    <%= link_to image_tag("remove.png", :border => 0), 
      note, 
      :confirm => 'Are you sure?', 
      :method => :delete %>
    </td>
  </tr>
<% end -%>
</table>

<%= will_paginate @notes %>

<% if flash[:new_note_div] %>
  <div id="new_note_div">
<% else %>
  <div id="new_note_div" style="display:none;">
<% end %>

<% form_for [@graduate_applicant, @new_note] do |f| -%>
    <br>New Note:</br>
    <br><%= f.text_area(:text, :size => "100%x10") %></br>
  <br><%= f.submit 'Add this note' %> | <%= link_to_remote "Cancel", :url => {:action => "toggle_new_note"} %></br>
<% end -%>
</div>

<p>
  <%= link_to_remote "Add Note", :url => {:action => "toggle_new_note"} %> | 
  <%= link_to 'Back to Graduate Applicants', graduate_applicants_path %>
</p>