<h1>Listing notes</h1>

<table>
  <tr>
    <th>Note text</th>
    <th>Note datetime</th>
    <th>Graduate applicant</th>
  </tr>

<% for notes in @notes %>
  <tr>
    <td><%=h notes.note_text %></td>
    <td><%=h notes.note_datetime %></td>
    <td><%=h notes.graduate_applicant_id %></td>
    <td><%= link_to 'Show', notes %></td>
    <td><%= link_to 'Edit', edit_notes_path(notes) %></td>
    <td><%= link_to 'Destroy', notes, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New notes', new_notes_path %>
