<% for course_template in course_templates -%>
  <tr>
    <td>
      <%= course_template.short_dept_name %>
    </td>
    <td>
      <%= course_template.course_number %>
    </td>
    <td>
      <%= course_template.course_name %>
    </td>
    <td>
      <%= course_template.credits %>
    </td>
    <td>
      <%= link_to image_tag("up.png", :alt => "Move Up", :class => "table_image", :border => 0), :action => "move_course_up", :course_template_id => course_template.id, :ppos_template_id => @ppos_template.id %>
    </td>
    <td>
      <%= link_to image_tag("down.png", :alt => "Move Down", :class => "table_image", :border => 0), :action => "move_course_down", :course_template_id => course_template.id, :ppos_template_id => @ppos_template.id %>
    </td>
    <td>
      <%= link_to image_tag("edit.png",  :class => "table_image",:border => 0),
      edit_course_template_path(@department.id,@degree_program.id,@ppos_template.id,header_template.id,course_template.id) %>
    </td>
    <td>
      <%= link_to image_tag("remove.png",  :class => "table_image",:border => 0), 
      course_template_path(@department.id,@degree_program.id,@ppos_template.id,header_template.id,course_template.id), 
      :confirm => 'Are you sure?', 
      :method => :delete %>
    </td>
  </tr>
<% end -%>
  <tr id="new_course">
    <td align="center" colspan=8>
       <%= link_to 'Add New Course To ' + header_template.header, new_course_template_path(@department.id,@degree_program.id,@ppos_template.id,header_template.id) %>
    </th>
  </td>