<h1>Listing ppos_templates</h1>

<table>
  <tr>
    <th>Degree program</th>
  </tr>

<% for ppos_template in @ppos_templates %>
  <tr>
    <td><%=h ppos_template.degree_program_id %></td>
    <td><%= link_to 'Show', ppos_template_path(@department.id, @degree_program.id, ppos_template) %></td>
    <td><%= link_to 'Edit', edit_ppos_template_path(@department.id, @degree_program.id, ppos_template) %></td>
    <td><%= link_to 'Destroy', ppos_template_path(@department.id, @degree_program.id, ppos_template), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ppos_template', new_ppos_template_path %>
