<% title [@department.name,'Department'].join(' ') + ' | Degree Programs | ' + @degree_program.name + ' | Planned Program of Study Template' %>

<h1><%= @degree_program.name %></h1>

<p>
  <h3>
    <%= link_to 'Degree Information', department_degree_program_path(@department,@degree_program) %> | 
    <%= link_to 'Degree Requirements', degree_requirements_path(@department.id, @degree_program.id)  %> |
    Planned Program of Study Template
  </h3>
</p>

<% form_for(@ppos_template) do |f| %>
  <p>
    <b>Number of Concentrations / Plans For This Degree</b><br />
    <%= f.text_field :concentrations %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


<p>
  <div id="prerequisites">
    <%= render :partial => 'prerequisite_template',
               :locals  => {:prerequisite_templates => @ppos_template.prerequisite_templates,
                            :ppos_template    => @ppos_template,
                            :degree_program   => @degree_program,
                            :department       => @department} %>
  </div>
</p>

<p>
  <div id="ppos_body">
    <%= render :partial => 'header_template',
               :locals  => {:header_templates => @ppos_template.header_templates,
                            :ppos_template    => @ppos_template,
                            :degree_program   => @degree_program,
                            :department       => @department} %>
  </div>
</p>

<p>
  <%= link_to 'Back to Degree Programs', department_degree_programs_path(@department) %>
</p>