<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Application Requirements' %>

<%= render :partial => 'graduate_applicants/navigation',
           :locals  => {:page               => 'Requirements',
                        :graduate_applicant => @graduate_applicant } %>

<table>
  <tr>
    <th>Application Requirement</th>
    <th>Met</th>
  </tr>

  <% for applicant_requirement in @applicant_requirements %>
    <% form_for :applicant_requirement, applicant_requirement, :url => applicant_requirement_path(@graduate_applicant.id,applicant_requirement), :html => { :method => :put} do |f| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%=h applicant_requirement.requirement %></td>
      <td align=center>
        <%= f.check_box :met %>
        <%= observe_field(:applicant_requirement_met,
                          :on => :selected,
                          :url => { :action => :update, :applicant_requirement => applicant_requirement }) %>
      </td>
    </tr>
  <% end %>
  <% end %>
</table>

<p>
  <%= link_to 'Back to Graduate Applicants', graduate_applicants_path %>
</p>