<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Application Requirements' %>

<p style="color: green"><%= flash[:notice] %></p>

<%= render :partial => 'graduate_applicants/navigation',
           :locals  => {:page               => 'Requirements',
                        :graduate_applicant => @graduate_applicant } %>

<table>
  <tr>
    <th>Application Requirement</th>
    <th>Met</th>
  </tr>

<% for applicant_requirement in @applicant_requirements %>
  <tr>
    <td><%=h applicant_requirement.requirement %></td>
    <td align=center><%= check_box :applicant_requirement, :met %></td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to 'Back to Graduate Applicants', graduate_applicants_path %>
</p>