<p>
  <b>Met:</b>
  <%=h @applicant_requirement.met %>
</p>

<p>
  <b>Applicant requirement:</b>
  <%=h @applicant_requirement.applicant_requirement_id %>
</p>

<p>
  <b>Graduate applicant:</b>
  <%=h @applicant_requirement.graduate_applicant_id %>
</p>


<%= link_to 'Edit', edit_applicant_requirement_path(@applicant_requirement) %> |
<%= link_to 'Back', applicant_requirements_path %>
