<h1>Editing Correspondence Template</h1>

<%= error_messages_for :correspondence_template %>

<%= render :partial => 'formatting_guide' %>

<% form_for(@correspondence_template) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :body, :size => "100%x20" %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<p>
  <%= link_to 'Cancel', correspondence_templates_path %> | 
  <a href="#" onClick="new Effect.toggle('formatting_guide', 'slide');">Formatting Guide</a>
</p>