<% title 'Templates | Correspondence' %>

<p style="color: green"><%= flash[:notice] %></p>

<h1>Templates</h1>

<p>
  <h3>
    Correspondence |
    <%= link_to 'Planned Program of Study', ppos_template_list_path(current_user.department_id) %>
  </h3>
</p>

<table>
  <tr>
    <th>Title</th>
    <th colspan=3>Controls</th>
  </tr>

<% for correspondence_template in @correspondence_templates %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%=h correspondence_template.title %></td>
    <td><%= link_to image_tag("edit.png",  :class => "table_image",:border => 0), edit_correspondence_template_path(correspondence_template) %></td>
    <td><%= link_to image_tag("remove.png", :class => "table_image",:border => 0), correspondence_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create Correspondence Template', new_correspondence_template_path %>
