<h1>New Correspondence Template</h1>

<%= error_messages_for :correspondence_template %>

<% form_for(@correspondence_template) do |f| %>
  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_field :body %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', correspondence_templates_path %>
