<p>
  <b>Template Name:</b>
  <%=h @correspondence_template.title %>
</p>

<p>
  <b>Subject:</b>
  <%=h @correspondence_template.subject %>
</p>

<p>
  <b>Body:</b><br>
  <%= @correspondence_template.body_html %>
</p>


<%= link_to 'Edit', edit_correspondence_template_path(@correspondence_template) %> |
<%= link_to 'Back', correspondence_templates_path %>
