<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>[GradTrak] Login</title>
<%= stylesheet_link_tag "scaffold" %>
</head>
<body style="text-align: center">
<div style="background-color: #eee; width: 200px; border: 4px solid #999; padding: 10px; margin: 0 auto">
<% form_tag session_path do -%>

<img src="/images/gradtrak.png">
<p style="color: green"><%= flash[:notice] %></p>
<p><label for="login">Login</label><br>
<%= text_field_tag 'login' %></p>

<p><label for="password">Password</label><br>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log in' %></p>
<% end -%>
</div>
</body>
</html>