<% title 'Change Password' %>

<h1>Please change your password</h1>

<p style="color: #fff; font-style: italic"><%= flash[:notice] %></p>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>

<%= f.hidden_field :change_password, :value => 'f' %>

<p><label for="password">New Password</label><br/>
<%= f.password_field :password %></p>

<p><label for="password_confirmation">Confirm New Password</label><br/>
<%= f.password_field :password_confirmation %></p>

<p><%= f.submit 'Change' %></p>
<% end %>