<% title 'Edit Department' %>

<h1>Editing Department</h1>

<p style="color: green"><%= flash[:notice] %></p>

<%= error_messages_for :department %>

<% form_for(@department) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Short name</b><br />
    <%= f.text_field :short_name %>
  </p>
  
  <p>
    <b>License</b><br />
    <%= f.text_field :license %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Cancel', departments_path %>