<% title 'Departments' %>

<h1>Departments</h1>

<p style="color: green"><%= flash[:notice] %></p>

<% form_tag departments_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search" %>
	</p>
<% end %>

<table>
  <tr>
    <th>Name</th>
    <th>Short name</th>
    <th>License</th>
    <th>Expiration</th>
    <th colspan=2>Controls</th>
  </tr>

<% for department in @departments %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%=h department.name %></td>
    <td><%=h department.short_name %></td>
    <td><%=h department.license %></td>
    <td><%=h department.license_expires_on %></td>
    <td><%= link_to image_tag("edit.png",  :class => "table_image",:border => 0), edit_department_path(department) %></td>
    <td><%= link_to image_tag("remove.png", :class => "table_image",:border => 0), department, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @departments %>

<p>
  <%= link_to 'Create Department', new_department_path %>
</p>