<div id="container">
<div id="header">
<img src="/images/gradtrak.png">
</div>
<%= navigation :main %>
<div id="primary">
<div id="sidebar">
<%= tabnav :main %>
</div>
<div id="contents">
<div id="contents2">
<h1>Departments</h1>

<p style="color: green"><%= flash[:notice] %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Short name</th>
    <th colspan=3>Controls</th>
  </tr>

<% for department in @departments %>
  <tr>
    <td><%=h department.name %></td>
    <td><%=h department.short_name %></td>
    <td><%= link_to 'Show', department %></td>
    <td><%= link_to 'Edit', edit_department_path(department) %></td>
    <td><%= link_to 'Destroy', department, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New department', new_department_path %>

</div>
</div>
</div>
<div id="footer">
hadoken
</div>
</div>
