<div id="container">
<div id="header">
<img src="/images/gradtrak.png">
</div>
<%= navigation :main %>
<div id="primary">
<div id="sidebar">
<%= tabnav :main %>
</div>
<div id="contents">
<div id="contents2">
<h1>New department</h1>

<p style="color: green"><%= flash[:notice] %></p>

<%= error_messages_for :department %>

<% form_for(@department) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Short name</b><br />
    <%= f.text_field :short_name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', departments_path %>

</div>
</div>
</div>
<div id="footer">
hadoken
</div>
</div>
