<% title [@department.name,'Department'].join(' ') + ' | Department Information' %>

<p style="color: green"><%= flash[:notice] %></p>

<h1><%= [@department.name,'Department'].join(' ') %></h1>

<% if current_user.graduate_coordinator? %>
  <p>
    <h3>
      Department Information |
      <%= link_to 'Application Requirements', department_application_requirements_path(@department) %> |
      <%#= link_to 'Department Applicant Statuses', department_statuses_path(@department) %>
      <%= link_to 'Degree Programs', department_degree_programs_path(@department) %>
    </h3>
  </p>
<% end %>

<hr>

<p>
  <b>Short Name:</b>
  <%= @department.short_name %>
</p>

<p>
  <b>License:</b>
  <%= @department.license %>
</p>

<p>
  <b>License Expires on:</b>
  <%= @department.license_expires_on %>
</p>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_department_path(@department) %>
<% end %>