<h1>Listing consentrations_templates</h1>

<table>
  <tr>
    <th>Ppos template</th>
    <th>Total</th>
  </tr>

<% for consentrations_template in @consentrations_templates %>
  <tr>
    <td><%=h consentrations_template.ppos_template_id %></td>
    <td><%=h consentrations_template.total %></td>
    <td><%= link_to 'Show', consentrations_template %></td>
    <td><%= link_to 'Edit', edit_consentrations_template_path(consentrations_template) %></td>
    <td><%= link_to 'Destroy', consentrations_template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New consentrations_template', new_consentrations_template_path %>
