<% title [@department.name,'Department'].join(' ') + ' | Degree Programs | ' + @degree_program.name + ' | Degree Requirements' %>

<h1><%= @degree_program.name %></h1>

<p>
  <h3>
    <%= link_to 'Degree Information', department_degree_program_path(@department,@degree_program) %> | 
    Degree Requirements |
    <%= link_to 'Planned Program of Study Template', ppos_templates_path(@department.id, @degree_program.id)  %>
  </h3>
</p>

<% form_tag degree_requirements_path(@department,@degree_program), :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search" %>
	</p>
<% end %>

<table>
  <tr>
    <th>Requirement Description</th>
    <th colspan=2>Controls</th>
  </tr>

<% for degree_requirement in @degree_requirements %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%=h degree_requirement.description %></td>
    <td><%= link_to 'Edit', edit_degree_requirement_path(@department.id, @degree_program.id, degree_requirement) %></td>
    <td><%= link_to 'Destroy', degree_requirement_path(@department.id, @degree_program.id, degree_requirement.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @degree_requirements %>

<p>
  <%= link_to 'Back to Degree Programs', department_degree_programs_path(@department) %> | 
  <%= link_to 'Create Degree Requirement', new_degree_requirement_path %>
</p>