<% title [@department.name,'Department'].join(' ') + ' | Degree Programs | ' + @degree_program.name + ' | Degree Requirements' %>

<h1><%= @degree_program.name %></h1>

<p>
  <h3>
    <%= link_to 'Degree Information', department_degree_program_path(@department,@degree_program) %> |
    Degree Requirements |
    <%= link_to 'Planned Program of Study Template', ppos_templates_path(@department.id, @degree_program.id)  %>
  </h3>
</p>

<table>
  <tr>
    <th>Requirement Description</th>
    <th colspan=2>Controls</th>
  </tr>

<% for degree_requirement in @degree_requirements %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%=h degree_requirement.description %></td>
    <td><%= link_to image_tag("edit.png",  :class => "table_image",:border => 0, :alt => "Edit", :title => "Edit this Degree Requirement"), edit_degree_requirement_path(@department.id, @degree_program.id, degree_requirement) %></td>
    <td><%= link_to image_tag("remove.png", :class => "table_image",:border => 0, :alt => "Remove", :title => "Remove this Degree Requirement"), degree_requirement_path(@department.id, @degree_program.id, degree_requirement.id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @degree_requirements %>

<% if flash[:new_req_div] %>
	<div id="new_req_div">
<% else %>
	<div id="new_req_div" style="display:none;">
<% end %>

<% form_for @new_requirement do |f| -%>
    <p>New Requirement:</p>
    <p><%= f.text_field(:description) %></p>
    <%= f.hidden_field :degree_program_id %>
    <%= f.submit 'Add this Degree Requirement' %> | <a href="#" onClick="new Effect.toggle('new_req_div', 'slide');">Close</a>
<% end -%>
</div>

<p>
  <a href="#" onClick="new Effect.toggle('new_req_div', 'slide');">Create Degree Requirement</a> |
  <%= link_to 'Back to Degree Programs', department_degree_programs_path(@department) %>
</p>