<% title [@department.name,'Department'].join(' ') + ' | Degree Programs | ' + @degree_program.name + ' | Degree Requirements' %>

<h1><%= @degree_program.name %></h1>

<p>
  <h3>
    <%= link_to 'Degree Information', department_degree_program_path(@department,@degree_program) %> | 
    Degree Requirements
  </h3>
</p>

<% form_tag ['/departments/',@department.id,'/degree_programs/', @degree_program.id,'/degree_requirements'].join(), :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search" %>
	</p>
<% end %>

<table>
  <tr>
    <th>Requirement Description</th>
  </tr>

<% for degree_requirement in @degree_requirements %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%=h degree_requirement.description %></td>
    <td><%= link_to 'Show', degree_requirement %></td>
    <td><%= link_to 'Edit', edit_degree_requirement_path(degree_requirement) %></td>
    <td><%= link_to 'Destroy', degree_requirement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @degree_requirements %>

<p>
<%= link_to 'Create Degree Requirement', new_degree_requirement_path %>
</p>