<div id="notes">
  <%= render :partial => 'graduate_applicants/notes', 
            :locals  => {:notes => @notes,
            :graduate_applicant => @graduate_applicant} %>
</div>

<div id="new_note_div" style="display:none;">
<% remote_form_for [@graduate_applicant, @note] do |f| -%>
    <br>New Note:</br>
    <br><%= f.text_area(:text, :size => "50x10") %></br>
  <br><%= f.submit 'Add this note' %> | <%= link_to_remote "Done Adding Notes", :url => {:action => "toggle_new_note"} %></br>
<% end -%>
</div>

<p>
  <%= link_to_remote "Add Note", :url => {:action => "toggle_new_note"} %> | 
  <%= link_to 'Back', graduate_applicants_path %>
</p>