<% title 'Edit Graduate Applicant' %>

<h1>Editing Graduate Applicant</h1>

<p style="color: #fff; font-style: italic"><%= flash[:notice] %></p>

<%= error_messages_for :graduate_applicant %>

<% form_for(@graduate_applicant) do |f| %>
<table>
	<tr>
		<td class="tablehead">
			First Name:
		</td>
		<td>
			<%= f.text_field :first_name %>
    	</td>
    </tr>
    <tr>
		<td class="tablehead">
			M.I.:
		</td>
		<td>
			<%= f.text_field :middle_name %>
    	</td>
    </tr>
	<tr>
		<td class="tablehead">
			Last Name:
		</td>
		<td>
			<%= f.text_field :last_name %>
    	</td>
    </tr>
    <tr>
		<td class="tablehead">
			Suffix:
		</td>
		<td>
			<%= f.text_field :suffix %>
    	</td>
    </tr>
</table>
<br />
<table> 
	<tr>
		<td class="tablehead">
			Address 1:
		</td>
		<td>
			<%= f.text_field :address1 %>
    	</td>
    </tr>
    <tr>
		<td class="tablehead">
			Address 2:
		</td>
		<td>
			<%= f.text_field :address2 %>
    	</td>
    </tr>
    <tr>
		<td class="tablehead">
			City:
		</td>
		<td>
			<%= f.text_field :city %>
    	</td>
    </tr>
    <tr>
		<td class="tablehead">
			State:
		</td>
		<td>
			<%= f.text_field :state %>
    	</td>
    </tr>
    <tr>
		<td class="tablehead">
			Zip:
		</td>
		<td>
			<%= f.text_field :zip %>
    	</td>
    </tr>
    <td class="tablehead">
			Country:
		</td>
		<td>
			<%= country_select("graduate_applicant", "country") %>
    	</td>
    </tr>
</table>
<br />
<table> 
    <tr>
		<td class="tablehead">
			Phone (day):
		</td>
		<td>
			<%= f.text_field :phone_day %>
    	</td>
    </tr>
    <tr>
		<td class="tablehead">
			Phone (night):
		</td>
		<td>
			<%= f.text_field :phone_night %>
    	</td>
    </tr>
    <tr>
		<td class="tablehead">
			E-mail:
		</td>
		<td>
			<%= f.text_field :email %>
    	</td>
    </tr>
</table>
<br />
<table> 
    <tr>
		<td class="tablehead">
			Student ID:
		</td>
		<td>
			<%= f.text_field :studentID %>
    	</td>
    </tr>
    <tr>
		<td class="tablehead">
			GPA:
		</td>
		<td>
			<%= f.text_field :gpa %>
    	</td>
    </tr>
</table>
  <p><label for="department_status_id"><b>Status:</b></label>
    <%= select("graduate_applicant", "department_status_id", DepartmentStatus.find(:all, :conditions => { :department_id => current_user.department_id }, :order => :status).collect {|d| [d.status, d.id] }) %></p>
  <p>

  <p>
    <b>Degree Program:</b>
    <%= select("graduate_applicant", "degree_program_id", DegreeProgram.find(:all, :conditions => { :department_id => current_user.department_id }, :order => :name).collect {|d| [d.name, d.id] }) %>
  </p>
  
  <%= render :partial => 'application_received',
      :locals  => {:graduate_applicant => @graduate_applicant} %>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Cancel', graduate_applicant_path(@graduate_applicant) %>