<% title 'Edit Graduate Applicant' %>

<h1>Editing Graduate Applicant</h1>

<p style="color: green"><%= flash[:notice] %></p>

<%= error_messages_for :graduate_applicant %>

<% form_for(@graduate_applicant) do |f| %>
  <p>
    <b>First name</b><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <b>Middle initial</b><br />
    <%= f.text_field :middle_name %>
  </p>
	
  <p>
    <b>Last name</b><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <b>Suffix</b><br />
    <%= f.text_field :suffix %>
  </p>
  <p>
    <b>Address1</b><br />
    <%= f.text_field :address1 %>
  </p>

  <p>
    <b>Address2</b><br />
    <%= f.text_field :address2 %>
  </p>

  <p>
    <b>City</b><br />
    <%= f.text_field :city %>
  </p>

  <p>
    <b>State</b><br />
    <%= f.text_field :state %>
  </p>

  <p>
    <b>Zip</b><br />
    <%= f.text_field :zip %>
  </p>

  <p>
    <b>Phone (day)</b><br />
    <%= f.text_field :phone_day %>
  </p>
  <p>
    <b>Phone (night)</b><br />
    <%= f.text_field :phone_night %>
  </p>

  <p>
    <b>Email</b><br />
    <%= f.text_field :email %>
  </p>

  <p>
    <b>Student ID</b><br />
    <%= f.text_field :studentID %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @graduate_applicant %> |
<%= link_to 'Back', graduate_applicants_path %>