<% title 'Graduate Applicants' %>

<h1>Graduate Applicants</h1>

<p style="color: green"><%= flash[:notice] %></p>


<% form_tag graduate_applicants_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search" %>
	</p>
<% end %>

<table>
	<tr>
		<th>First Name</th>
    <th>Last Name</th>
    <th>Phone (Day)</th>
	</tr>
		<% for applicants in @graduate_applicants %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>
          <%= link_to h(applicants.first_name), :action => 'show', :id => applicants %>
        </td>
        <td>
          <%= link_to h(applicants.last_name), :action => 'show', :id => applicants %>
        </td>
        <td>
          <%= link_to h(applicants.phone_day), :action => 'show', :id => applicants %>
        </td>
      </tr>
  <% end %>
</table>

<%= will_paginate @graduate_applicants %>


<br />

<%= link_to 'New graduate_applicant', new_graduate_applicant_path %>
