<% title 'Graduate Applicants' %>

<h1>Graduate Applicants</h1>

<p style="color: green"><%= flash[:notice] %></p>

<% form_tag graduate_applicants_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
    <%= select_tag "status", status_selection(params[:status]) %>
    <%= select_tag "degree_program", degree_program_selection(params[:degree_program]) %>
		<%= submit_tag "Search" %>
    <%= submit_tag "Clear" %>
	</p>
<% end %>

<table>
	<tr>
		<th>First Name</th>
    	<th>Last Name</th>
    	<th>Banner ID</th>
    	<th>Status</th>
    	<th colspan=3>Controls</th>
	</tr>
		<% for applicants in @graduate_applicants %>
      <tr class="<%= cycle('even', 'odd') %>">
        <td>
          <%= link_to h(applicants.first_name), :action => 'show', :id => applicants %>
        </td>
        <td>
          <%= link_to h(applicants.last_name), :action => 'show', :id => applicants %>
        </td>
        <td>
          <%= applicants.studentID %>
        </td>
        <td>
          <%= ApplicantStatus.find(applicants.applicant_status_id).status %>
        </td>
        <td>
          <%= link_to image_tag("contact.png", :alt => "Contact Info", :class => "table_image", :border => 0), graduate_applicant_path(applicants) %>
        </td>
        <td>
          <%= link_to image_tag("note.png", :alt => "Notes", :class => "table_image", :border => 0), graduate_applicant_notes_path(applicants) %>
        </td>
        <td>
          <%= link_to image_tag("correspondence.png", :alt => "Correspondence", :class => "table_image", :border => 0), graduate_applicant_correspondences_path(applicants) %>
        </td>
      </tr>
  <% end %>
</table>

<%= will_paginate @graduate_applicants %>

<p>
  <%= link_to 'New Graduate Applicant', new_graduate_applicant_path %> |
  <%= link_to 'Generate Mailing List', :controller => 'mail_list' %>
</p>
