<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Contact Info' %>

<%= render :partial => 'navigation',
           :locals  => {:page               => 'Contact Info',
                        :graduate_applicant => @graduate_applicant } %>

<div id="contact_info">
<table>
	<tr class="even">
		<td class="tablehead">
			Name:
		</td>
		<td>
			<%=h @graduate_applicant.first_name %>
    		<%=h @graduate_applicant.middle_name %><% if @graduate_applicant.middle_name.length > 0 %>.<% end %>
    		<%=h @graduate_applicant.last_name %>
    		<%=h @graduate_applicant.suffix %>
    	</td>
    </tr>
    <tr class="odd">
		<td class="tablehead">
			Address:
		</td>
		<td>
			<%=h @graduate_applicant.address1 %>
    		<%=h @graduate_applicant.address2 %>&nbsp;
    		<%=h @graduate_applicant.city %>,
    		<%=h @graduate_applicant.state %>
    		<%=h @graduate_applicant.zip %>
    	</td>
    </tr>
	<tr class="even">
		<td class="tablehead">
			Phone (day):
		</td>
		<td>
			<%=h @graduate_applicant.phone_day %>
    	</td>
    </tr>
    <tr class="odd">
		<td class="tablehead">
			Phone (night):
		</td>
		<td>
			<%=h @graduate_applicant.phone_night %>
    	</td>
    </tr>
	<tr class="even">
		<td class="tablehead">
			E-mail:
		</td>
		<td>
			<%= link_to  @graduate_applicant.email, new_graduate_applicant_correspondence_path(@graduate_applicant) %>
    	</td>
    </tr>
    <tr class="odd">
		<td class="tablehead">
			Student ID:
		</td>
		<td>
			<%=h @graduate_applicant.studentID %>
    	</td>
    </tr>
    <tr class="even">
		<td class="tablehead">
			GPA:
		</td>
		<td>
			<%=h @graduate_applicant.gpa %>
    	</td>
    </tr>
    <tr class="odd">
		<td class="tablehead">
			Status:
		</td>
		<td>
			<%=h @graduate_applicant.department_status.status %>
    	</td>
    </tr>
    <tr class="even">
		<td class="tablehead">
			Degree:
		</td>
		<td>
			<%=h DegreeProgram.find(@graduate_applicant.degree_program_id).name %>
    	</td>
    </tr>
</table>
</div>

  <p><%= link_to 'Edit', edit_graduate_applicant_path(@graduate_applicant) %> |
  <%= link_to 'Delete Applicant', @graduate_applicant, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to 'Back to Graduate Applicants', graduate_applicants_path %></p>
