<% title 'Graduate Applicant' %>

<p style="color: green"><%= flash[:notice] %></p>

<p>
  <h1><%=h @graduate_applicant.first_name %> <%=h @graduate_applicant.last_name %></h1>
</p>
<p>

  <h3>
    <%= link_to_remote "Contact Info",:update => "tab_content", :url => {:action => "show_contact_info", :id => @graduate_applicant.id} %> | 
    <%= link_to_remote "Notes",:update => "tab_content", :url => {:action => "show_note_info", :id => @graduate_applicant.id} %> | 
    <%= link_to_remote "Application Requirements",:update => "tab_content", :url => {:action => "show_applicant_requirement_info", :id => @graduate_applicant.id} %> | 
    <%= link_to_remote "Correspondence",:update => "tab_content", :url => {:action => "show_correspondence_info", :id => @graduate_applicant.id} %> | 
    <%= link_to_remote "Planned Program of Study",:update => "tab_content", :url => {:action => "show_ppos_info", :id => @graduate_applicant.id} %>
  </h3>
</p>

<div id="tab_content">
  <%= render :partial => 'contact_info',
             :locals  => {:graduate_applicant => @graduate_applicant} %>
</div>