<h1>Editing student_status</h1>

<%= error_messages_for :student_status %>

<% form_for(@student_status) do |f| %>
  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @student_status %> |
<%= link_to 'Back', student_statuses_path %>
