<h1>New Header</h1>

<%= error_messages_for :header_template %>

<% form_for(@header_template) do |f| %>
  <%= f.hidden_field :ppos_template_id %>
  
  <p>
    <b>Header</b><br />
    <%= f.text_field :header %>
  </p>

  <p>
    <%= f.submit "Create" %> <%= f.submit "Create and Add Courses to Header" %>
  </p>
<% end %>

<%= link_to 'Cancel', ppos_template_path(@header_template.ppos_template.degree_program.department, @header_template.ppos_template.degree_program, @header_template.ppos_template) %>
