<p>
  <b>Ppos template:</b>
  <%=h @header_template.ppos_template_id %>
</p>

<p>
  <b>Header:</b>
  <%=h @header_template.header %>
</p>

<p>
  <b>Position:</b>
  <%=h @header_template.position %>
</p>


<%= link_to 'Edit', edit_header_template_path(@header_template) %> |
<%= link_to 'Back', header_templates_path %>
