<h1>New Prerequisite</h1>

<p style="color: #fff; font-style: italic"><%= flash[:notice] %></p>
<%= error_messages_for :prerequisite_template %>

<% form_for(@prerequisite_template) do |f| %>
  <%= f.hidden_field :ppos_template_id %>
  <p>
    <b>Prerequisite</b><br />
    <%= f.text_field :prerequisite %>
  </p>

  <p>
    <%= f.submit "Create and Add Another Prerequisite" %> <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', ppos_template_path(@prerequisite_template.ppos_template.degree_program.department, @prerequisite_template.ppos_template.degree_program, @prerequisite_template.ppos_template) %>
