<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Correspondence' %>

<%= render :partial => 'graduate_applicants/navigation',
           :locals  => {:page               => 'Correspondence',
                        :graduate_applicant => @graduate_applicant } %>

<% form_tag graduate_applicant_correspondences_path(@graduate_applicant), :method => 'get' do %>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search" %>
<% end %>

<br />

<table>
  <tr>
    <th>Sent date</th>
    <th>Sent by</th>
    <th>Text</th>
    <th>Type</th>
    <th colspan=2>Controls</th>
  </tr>

<% for correspondence in @correspondences %>
  <tr id="<%= dom_id(correspondence) %>" class="<%= cycle('even', 'odd') %>">
    <td><%=h correspondence.sent_on %></td>
    <td><%=h correspondence.created_by %></td>
    <td><%=h correspondence.body_short %></td>
    <td><%=h correspondence.correspondence_type %></td>
    <td><%= link_to 'Show', graduate_applicant_correspondence_path(@graduate_applicant, correspondence) %></td>
    <td><%= link_to image_tag("remove.png", :border => 0), correspondence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% will_paginate @correspondences %>

<br />

<p>
  <%= link_to 'Send Correspondence', new_graduate_applicant_correspondence_path(@graduate_applicant) %> | 
  <%= link_to 'Back to Graduate Applicants', graduate_applicants_path %>
</p>