<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Correspondence | New' %>

<h1>Send Correspondence to <%= @graduate_applicant.full_name %></h1>

<%= error_messages_for :correspondence %>

<% form_tag new_graduate_applicant_correspondence_path(@graduate_applicant), :method => 'get' do %>
   <p>
    <b>Template</b><br />
    <%= select( :correspondence_template_id, params[:id], CorrespondenceTemplate.find(:all, :conditions => {:department_id => @graduate_applicant.department_id}).collect {|d| [d.title, d.id] }) %>
    <%= submit_tag "Use Template" %>
  </p>
<% end %>

<% form_for(@correspondence) do |f| %>
  <%= f.hidden_field :graduate_applicant_id %>
  <%= f.hidden_field :sent_date_time %>
  <%= f.hidden_field :created_by, :value => current_user.full_name %>
  
  <p>
    <b>Subject</b><br />
    <%= f.text_field :subject, :size => 116 %>
  </p>
  
  <p>
    <b>Body</b><br />
    <%= f.text_area :text, :size => "100%x20" %>
  </p>

  <p>
    <%= f.submit "Print" %> <%= f.submit "Email" %>
  </p>
<% end %>

<%= link_to 'Cancel', graduate_applicant_correspondences_path(@graduate_applicant) %>
