<h1>Send Correspondence to <%= @graduate_applicant.full_name %></h1>

<%= error_messages_for :correspondence %>

<h1>This page is less broken</h1>

<% form_tag new_graduate_applicant_correspondence_path(@graduate_applicant), :method => 'get' do %>
  <p>
    <b>Template</b><br />
    <%= select( :correspondence_template_id, params[:id], CorrespondenceTemplate.find(:all, :conditions => {:department_id => @graduate_applicant.department_id}).collect {|d| [d.title, d.id] }) %>
    <%= submit_tag "Use Template" %>
  </p>
<% end %>

<% form_for(@correspondence) do |f| %>
  <p>
    <b>Sent date time</b><br />
    <%= f.datetime_select :sent_date_time %>
  </p>

  <p>
    <b>Body</b><br />
    <%= f.text_area :text %>
  </p>

  <p>
    <b>Type</b><br />
    <%= f.text_field :type %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', graduate_applicant_correspondences_path(@graduate_applicant) %>
