<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Correspondence' %>

<p>
  <b>Sent date time:</b>
  <%=h @correspondence.sent_datetime %>
</p>

<p>
  <%= @correspondence.body_html %>
</p>

<p>
  <b>Type:</b>
  <%=h @correspondence.correspondence_type %>
</p>

<p>
  <%= link_to 'Print', { :action => "print", :graduate_applicant_id => @correspondence.graduate_applicant.id, :correspondence_id => @correspondence.id }, :popup => true %> |
  <%= mail_to @correspondence.graduate_applicant.email, 'Email', :body => @correspondence.text %> | 
  <%= link_to 'Back', graduate_applicant_correspondences_path(@correspondence.graduate_applicant) %>
</p>