<% title [@department.name,'Department'].join(' ') + ' | Application Requirements' %>

<h1><%= [@department.name,'Department'].join(' ') %></h1>

<p style="color: #fff; font-style: italic"><%= flash[:notice] %></p>

<p>
  <h3>
    <%= link_to 'Department Information', department_path(@department) %> |
    Application Requirements |
    <%=link_to 'Applicant Statuses', department_department_statuses_path(@department) %> | 
    <%= link_to 'Degree Programs', department_degree_programs_path(@department) %>
  </h3>
</p>

<table>
  <tr>
    <th>Description</th>
    <th colspan=2>Controls</th>
  </tr>

<% for application_requirement in @application_requirements %>
  <tr class="<%= cycle('even', 'odd') %>">
    <td><%=h application_requirement.description %></td>
    <td><%= link_to image_tag("edit.png",  :class => "table_image",:border => 0), edit_department_application_requirement_path(@department,application_requirement) %></td>
    <td><%= link_to image_tag("remove.png", :class => "table_image",:border => 0), application_requirement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<% if flash[:new_req_div] %>
	<div id="new_req_div">
<% else %>
	<div id="new_req_div" style="display:none;">
<% end %>

<% form_for [@department, @new_requirement] do |f| -%>
    <p>New Requirement:</p>
    <p><%= f.text_field(:description) %></p>
    <%= f.submit 'Add this Application Requirement' %> | <a href="#" onClick="new Effect.toggle('new_req_div', 'slide');">Close</a>
<% end -%>
</div>

<p>
  <a href="#" onClick="new Effect.toggle('new_req_div', 'slide');">Create Application Requirement</a>
</p>