<h1>New application_requirement</h1>

<%= error_messages_for :application_requirement %>

<% form_for(@application_requirement) do |f| %>
  <p>
    <b>Text</b><br />
    <%= f.text_field :text %>
  </p>

  <p>
    <b>Department</b><br />
    <%= f.text_field :department %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', application_requirements_path %>
