<% title [@department.name,'Department'].join(' ') + ' | Degree Programs | Edit' %>

<h1>Editing Degree Program</h1>

<%= error_messages_for :degree_program %>

<% form_for(@degree_program) do |f| %>
  <p>
    <b>Degree</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', department_degree_program_path(@department,@degree_program) %> |
<%= link_to 'Cancel', department_degree_programs_path(@department) %>
