<h1>Listing degree_programs</h1>

<table>
  <tr>
    <th>Department</th>
    <th>Name</th>
  </tr>

<% for degree_program in @degree_programs %>
  <tr>
    <td><%=h degree_program.department_id %></td>
    <td><%=h degree_program.name %></td>
    <td><%= link_to 'Show', degree_program %></td>
    <td><%= link_to 'Edit', edit_degree_program_path(degree_program) %></td>
    <td><%= link_to 'Destroy', degree_program, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New degree_program', new_degree_program_path %>
