<% title [@department.name,'Department'].join(' ') + ' | Degree Programs | New' %>

<h1>New Degree Program</h1>

<%= error_messages_for :degree_program %>

<% form_for [@department, @degree_program] do |f| %>
  <%= f.hidden_field :department_id, :value => @department.id %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', department_degree_programs_path(@department) %>
