<% title [@department.name,'Department'].join(' ') + ' | Degree Programs | ' + @degree_program.name %>

<h1><%= @degree_program.name %></h1>

<p>
  <h3>
    Degree Information |
    <%= link_to 'Degree Requirements', degree_requirements_path(@department.id, @degree_program.id)  %> |
    <%= link_to 'Planned Program of Study Template', ppos_templates_path(@department.id, @degree_program.id)  %>
  </h3>
</p>

<p>
  <b>Name:</b>
  <%=h @degree_program.name %>
</p>

<p>
  <%= link_to 'Back to Degree Programs', department_degree_programs_path(@department) %> |
  <%= link_to 'Edit', edit_department_degree_program_path(@department, @degree_program) %>
</p>