<% title [@department.name,'Department'].join(' ') + ' | Degree Programs | ' + @degree_program.name %>

<h1><%= @degree_program.name %></h1>

<p>
  <h3>
    Degree Information | 
    <%= link_to 'Degree Requirements', :controller => 'degree_requirements', :action => 'index', :department_id => @department.id, :degree_program_id => @degree_program.id %> 
  </h3>
</p>

<p>
  <b>Name:</b>
  <%=h @degree_program.name %>
</p>

<p>
  <%= link_to 'Edit', edit_department_degree_program_path(@department, @degree_program) %> |  
  <%= link_to 'Back', department_degree_programs_path(@department) %>
</p>