<h1>New Course</h1>

<p style="color: green"><%= flash[:notice] %></p>
<%= error_messages_for :course_template %>

<% form_for(@course_template) do |f| %>
  <%= f.hidden_field :header_template_id %>
  <p>
    <b>Short dept name</b><br />
    <%= f.text_field :short_dept_name %>
  </p>

  <p>
    <b>Course number</b><br />
    <%= f.text_field :course_number %>
  </p>

  <p>
    <b>Course name</b><br />
    <%= f.text_field :course_name %>
  </p>

  <p>
    <b>Credits</b><br />
    <%= f.text_field :credits %>
  </p>

  <p>
    <%= f.submit "Create and Add Another Course" %> <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', ppos_template_path(@course_template.header_template.ppos_template.degree_program.department, @course_template.header_template.ppos_template.degree_program,@course_template.header_template.ppos_template) %>
