<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>[GradTrak]: <%= yield(:title) || "Graduate Tracking Done Right!" %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="container">

    <div id="header">
    	<img src="/images/foldy_tab.png" class="foldy_tab">
    	<img src="/images/logo_color.png" style="float: right; margin: -35px 10px 0 0;">
    </div>
    <div id="spacer">
    </div>

    <div id="subcontainer">

      <div id="sidebar">
		<%= render :partial => 'linkbox/linkbox' %>
      </div>

      <div id="contents">
        <div id="contents2">
          <%= yield  %>
        </div>
	  </div>

	</div>


  </div>
</body>
</html>
