<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Planned Program of Study' %>

<p style="color: green"><%= flash[:notice] %></p>

<%= render :partial => 'graduate_applicants/navigation',
           :locals  => {:page               => 'PPoS',
                        :graduate_applicant => @graduate_applicant } %>

<table>
  <tr>
    <th>Created on</th>
    <th>Created by</th>
    <th>Expires on</th>
    <th colspan=3>Controls</th>
  </tr>

<% for ppos in @ppos %>
  <tr>
    <td><%=h ppos.created_date %></td>
    <td><%=h ppos.created_by %></td>
    <td><%=h ppos.expires_date %></td>
    <td><%= link_to 'Show', ppo_path(@graduate_applicant.id,ppos) %></td>
    <td><%= link_to "Print", { :action => "print", :graduate_applicant_id => @graduate_applicant.id, :ppos_id => ppos.id }, :popup => true %></td>
    <td><%= link_to 'Destroy', ppo_path(@graduate_applicant.id,ppos), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%=link_to 'Create New Planned Program of Study', new_ppo_path(@graduate_applicant.id) %>
