<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Planned Program of Study | New' %>
<h1>New Planned Program of Study</h1>
<h2><%= DegreeProgram.find(@ppos.degree_program_id).name %></h2>

<%= error_messages_for :ppos %>

<% form_for(@ppos) do |f| %>

<%= f.hidden_field :graduate_applicant_id %>
<%= f.hidden_field :degree_program_id %>
<%= f.hidden_field :created_by, :value => current_user.login %>
<%= f.hidden_field :total_concentrations %>
<%= f.hidden_field :expires_on %>

<p>
  Expires: <%= f.date_select :expires_on, :order => [:month, :year], :default => 6.years.from_now %>
</p>

<% if @ppos.total_concentrations > 0 %>
  Concentration <%= select("ppos", "concentration",1..@ppos.total_concentrations) %>
<% else %>
  <%= f.hidden_field :concentration, :value => 0 %>
<% end %>


<p>
  <table>
    <tr>
      <th>
        Prerequisites
      </th>
      <th>
        Required
      </th>
    </tr>
    <% for ppos_prerequisite in @ppos.ppos_prerequisites -%>
      <% fields_for "ppos[prerequisite_attributes][]", ppos_prerequisite do |prerequisite_form| %>
        <tr id="<%= dom_id(ppos_prerequisite) %>">
          <td>
            <%= ppos_prerequisite.prerequisite %>
            <%= prerequisite_form.hidden_field :prerequisite, :value => ppos_prerequisite.prerequisite %>
            <%= prerequisite_form.hidden_field :position, :value => ppos_prerequisite.position %>
          </td>
          <td align=center>
            <input id="ppos_prerequisite_attributes__met" name="ppos[prerequisite_attributes][][met]" type="checkbox" value="1" />
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</p>

<p>
  <table>
    <% for ppos_header in @ppos.ppos_headers -%>
      <tr id="<%= dom_id(ppos_header) %>">
        <% fields_for "ppos[header_attributes][]", ppos_header do |header_form| %>
          <% if ppos_header.position == 1 %>
            <th colspan=3>
              <%= ppos_header.header %>
              <%= header_form.hidden_field :header, :value => ppos_header.header %>
              <%= header_form.hidden_field :position, :value => ppos_header.position %>
            </th>
            <th>
              Credits
            </th>
            <th>
              
            </th>
          <% else %>
            <th colspan=5>
              <%= ppos_header.header %>
              <%= header_form.hidden_field :header, :value => ppos_header.header %>
              <%= header_form.hidden_field :position, :value => ppos_header.position %>
            </th>
          <% end %>
        </tr>
        <% for ppos_course in ppos_header.ppos_courses -%>
          <% fields_for "ppos[course_attributes][]", ppos_course do |course_form| %>
            <tr>
              <td>
                <%= ppos_course.short_dept_name %>
                <%= course_form.hidden_field :header_position, :value => ppos_header.position %>
                <%= course_form.hidden_field :short_dept_name, :value => ppos_course.short_dept_name %>
                <%= course_form.hidden_field :position, :value => ppos_course.position %>
              </td>
              <td>
                <%= ppos_course.course_number %>
                <%= course_form.hidden_field :course_number, :value => ppos_course.course_number %>
              </td>
              <td>
                <%= ppos_course.course_name %>
                <%= course_form.hidden_field :course_name, :value => ppos_course.course_name %>
              </td>
              <td>
                <%= ppos_course.credits %>
                <%= course_form.hidden_field :credits, :value => ppos_course.credits %>
              </td>
              <td align=center>
                <input id='<%= ['ppos_course_attributes__taken', ppos_course.short_dept_name, ppos_course.course_number].join('_') %>', name="ppos[course_attributes][][taken]" type="checkbox" value="1" />
                 <%= observe_field  ['ppos_course_attributes__taken', ppos_course.short_dept_name, ppos_course.course_number].join('_'), 
                                    :url => { :action => :update_subtotal,
                                              :new_count => ppos_course.credits,
                                              :header_position => ppos_header.position }, 
                                    :on => :selected,
                                    :with => "'checked_state=' + value + '&curr_total=' + document.getElementById('total').childNodes[0].nodeValue + '&curr_subtotal=' + document.getElementById('" + ['subtotal_',ppos_header.position].join() + "').childNodes[0].nodeValue" %>
              </td>
            </tr>
          <% end %>
        <% end -%>
      <% end %>
      <% if ppos_header.ppos_courses.length > 0 %>
      <tr>
        <td colspan = 4>
          Subtotal
        </td>
        <td align=center>
          <div id='<%= ['subtotal_',ppos_header.position].join() %>' >0</div>
        </td>
      </tr>
      <% end %>
    <% end -%>
    <tr>
      <td colspan = 4 %>
        Total Credits in Program
      </td>
      <td align=center>
        <div id='total'>0</div>
      </td>
  </table>
</p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', ppos_path(@graduate_applicant) %>
