<% title 'Planned Program of Study' %>

<table class="topsection" cols="3" width="90%" align="center">
  <tr>
  	<td width="29%" style="text-align: left">
  	  <img src="/images/scsu.jpg">
  	</td>
	<td width="42%">
	  <h1 style="font-variant: small-caps;">Southern Connecticut State University<br />
	  <span style="font-size: 14px">Planned Program of Graduate Study</span></h1>
	</td>
	<td width="29%">
	  <b>Banner I.D.:</b> <%=h @graduate_applicant.studentID %>
	</td>
  </tr>
</table>
<table class="topsection" cols="3" width="90%" align="center">
  <tr>
    <td width="32%">
  	  <table width="100%" align="left" style="border: 1px solid black;">
  	  	<td valign="top" width="50%">
    	<table cols="2" width="100%">
    	  <tr>
      	  	<th width="95%" style="text-align: left">
        	  Prerequisites
      	  	</th>
      	  	<th width="5%" style="text-align: center">
           	  Met
      	  	</th>
    	  </tr>
    	  <% prereq_count = 2 %>
    	  <% for ppos_prerequisite in @ppos.ppos_prerequisites -%>
    	  	<% if prereq_count <= 12 %>
      	  	  <% if prereq_count == 7 %>
      	  	  	</td></table>
      	  	  	<td width="100%" valign="top"><table cols="2" width="100%">
    	  	  	<tr>
      	  		  <th width="95%" style="text-align: left">
        		  	Prerequisites
      	  		  </th>
      	  		  <th width="5%" style="text-align: center">
           		  	Met
      	  		  </th>
    		  	</tr>
    		  	<% prereq_count += 1 %>
    	  	  <% end %>
        	  <tr id="<%= dom_id(ppos_prerequisite) %>">
          		<td width="95%" style="text-align: left">
              	  <%= ppos_prerequisite.prerequisite %>
          		</td>
          		<td width="5%" style="text-align: center">
            	  <% if ppos_prerequisite.met %>
              		Y
            	  <% else %>
              		N
            	  <% end %>
          		</td>
        	  </tr>
        	  <% prereq_count += 1 %>
        	<% end %>
    	  <% end -%>
  	  </td></table></table>
	</td>
	<td width="36%">
	  <p>
	  	<h2 style="font-variant: small-caps;"><%=h DegreeProgram.find(@ppos.degree_program_id).name %><br />
	  	<%=h @ppos.graduate_applicant.degree_program.department.name %></h2>
	  </p>
	  <p>
	  	<% if @ppos.concentration != '0' %>
	    	<span style="font-weight: bold;">Concentration:</span> &nbsp;<%= @ppos.concentration %>
	    <% end %>
	  </p>
	</td>
	<td width="32%" style="text-align: left">
	  <table width="100%" align="right">
    	<tr>
      	  <td>
        	<b>Name:</b>
      	  </td>
      	  <td>
        	<%=h @graduate_applicant.full_name %>
      	  </td>
    	</tr>
    	<tr>
      	  <td>
        	<b>Address:</b>
      	  </td>
      	  <td>
        	<%=h @graduate_applicant.address1 %>
      	  </td>
    	  <tr>
      	    <td>
      		</td>
      		<td>
        	  <%=h @graduate_applicant.city %>, <%=h @graduate_applicant.state %> <%=h@graduate_applicant.zip %>
      		</td>
    	  </tr>
    	<tr>
      	  <td>
        	<b>Day Phone:</b>
      	  </td>
      	  <td>
        	<%=h @graduate_applicant.phone_day %>
      	  </td>
    	</tr>
    	<tr>
      	  <td>
        	<b>Night Phone:</b>
      	  </td>
      	  <td>
        	<%=h @graduate_applicant.phone_night %>
      	  </td>
    	</tr>
    	<tr>
      	  <td>
        	<b>E-mail:</b>
      	  </td>
      	  <td>
        	<%=h @graduate_applicant.email %>
      	  </td>
    	</tr>
  	  </table>
  	</td>
  </tr>
</table>

  <table cols="2" class="middlesection" width="90%" align="center">
  <tr><td valign="top" width="50%">
  	<% cred_total = 0 %>
  	<% row_count = 1 %>
  	<% table_split = 0 %>
  	<table cols="5" border="1" width="100%">
  	  <% for ppos_header in @ppos.ppos_headers -%>
  	  	<% subtotal = 0 %>
  	  	<% if row_count > 26 && row_count <= 50 %>
  	  	  <tr>
  	  	  	<th colspan="4">
  			  <%= ppos_header.header %>
  	  	  	</th>
  	  	  </tr>
  	  	  <% row_count += 1 %>
  	  	<% end %>
  	  	<% if row_count == 26 %>
  	  	  </table></td>
  	  	  <td valign="top" width="50%"><table cols="5" border="1" width="100%">
  	  	    <tr>
  	  	      <th colspan="4">
  	  	  	  	<%= ppos_header.header %>
  	  	  	  </th>
  	  	  	  <th width="10%" style="text-align: center">
  	  	  	  	Credits
  	  	  	  </th>
  	  	  	</tr>
  	  	  <% table_split = 1 %>
  	  	  <% row_count += 1 %>
  	  	<% end %>
  	  	<% if row_count <= 25 %>
  	  	  <tr>
  	  	  	<th colspan="4">
  			  <%= ppos_header.header %>
  	  	  	</th>
  	  	  	<% if row_count == 1 %>
  	  	  	  <th width="10%" style="text-align: center">
  	  	  	  	Credits
  	  	  	  </th>
  	  	  	<% end %>
  	  	  </tr>
 	  	  <% row_count += 1 %>
  	  	<% end %>
  	  	<% for ppos_course in ppos_header.ppos_courses -%>
  	  	  <% if row_count == 26 && table_split == 0 %>
  	  	  	</table></td>
  	  	  	<td valign="top" width="50%"><table cols="5" border="1" width="100%">
  	  	  	  <tr>
  	  	  	  	<th colspan="4"></th>
  	  	  	  	<th width="10%" style="text-align: center">
  	  	  	  	  Credits
  	  	  	  	</th>
  	  	  	  </tr>
  	  	  	  <% row_count += 1 %>
  	  	  	<% table_split = 1 %>
  	  	  <% end %>
  	  	  <% if row_count <= 50 %>
  	  	  	<tr>
  	  	  	  <td style="text-align: center" width="6%">
  	  	  	  	<%= ppos_course.short_dept_name %>
  	  	  	  </td>
  	  	  	  <td style="text-align: center" width="4%">
  	  	  	    <%= ppos_course.course_number %>
  	  	  	  </td>
  	  	  	  <td style="text-align: left" width="78%">
  	  	  	  	<%= ppos_course.course_name %>
  	  	  	  </td>
  	  	  	  <td style="text-align: center" width="2%">
  	  	  	  	<%= ppos_course.credits %>
  	  	  	  </td>
  	  	  	  <td style="text-align: center" width="10%">
  	  	  	  	<% if ppos_course.taken %>
  	  	  	  	  <%= ppos_course.credits %>
  	  	  	  	  <% subtotal += ppos_course.credits %>
  	  	  	  	<% end %>
  	  	  	  </td>
  	  	  	  <% row_count += 1 %>
  	  	  	</tr>
  	  	  <% end %>
  	  	<% end -%>
  	  	<% if !ppos_header.ppos_courses.empty? %>
  	  	<% if row_count <= 25 %>
  	  	  <tr>
  	  	  	<td colspan="4" style="text-align: right">
  	  	  	  SUBTOTAL&nbsp;
  	  	  	</td>
  	  	  	<td style="text-align: center">
  	  	  	  <%= subtotal %>
  	  	  	  <% cred_total += subtotal %>
  	  	  	</td>
  	  	  </tr>
  	  	  <% row_count += 1 %>
  	  	<% end %>
  	  	<% if row_count == 26 && table_split == 0 %>
  	  		</table></td>
  	  		<td valign="top" width="50%"><table cols="5" border="1" width="100%">
  	  		  <tr>
  	  	  	  	<th colspan="4"></th>
  	  	  	  	<th width="10%" style="text-align: center">
  	  	  	  	  Credits
  	  	  	  	</th>
  	  	  	  </tr>
  	  	  	<% table_split = 1 %>
  	  	  	<% row_count += 1 %>
  	  	<% end %>
  	  	<% if row_count >= 26 && row_count <= 50 %>
  	  	  <tr>
  	  	  	<td colspan="4" style="text-align: right">
  	  	  	  SUBTOTAL&nbsp;
  	  	  	</td>
  	  	  	<td style="text-align: center">
  	  	  	  <%= subtotal %>
  	  	  	  <% cred_total += subtotal %>
  	  	  	</td>
  	  	  </tr>
  	  	  <% row_count += 1 %>
  	  	<% end %>
  	  	<% end %>
  	  <% end -%>
  	  <% if row_count <= 50 %>
  	  	<tr>
  	  	  <td colspan="4" style="text-align: right">
  	  	  	TOTAL CREDITS IN PROGRAM&nbsp;
  	  	  </td>
  	  	  <td style="text-align: center">
  	  	  	<%= cred_total %>
  	  	  </td>
  	  	  <% row_count += 1 %>
  	  	</tr>
	  <% end %>
	  <% if row_count <= 50 %>
	  	<%(row_count...51).each do |r| %>
	  		<tr><td colspan="5">&nbsp;</td></tr>
	  	<% end %>
	  <% end %>
	</table>
  	</td></tr>
  </table>

<table cols="2" width="90%" class="bottomsection" align="center">
  <tr>
    <td width="45%">
      <table width="90%" align="left" cellpadding="5">
        <tr>
          <td style="border: 2px solid black;">
            Graduate Office Use Only<br />Master's degree requirements must be completed by:
          </td>
        </tr>
      </table>
    </td>
    <td width="55%">
      <table width="95%" cols="2" cellpadding="7">
        <tr>
          <td width="75%">
            Student:______________________________________________________
          </td>
          <td width="25%">
            Date:__________
          </td>
        </tr>
        <tr>
          <td width="75%">
            Advisor:______________________________________________________
          </td>
          <td width="25%">
            Date:__________
          </td>
        </tr>
        <tr>
          <td width="75%">
            Associate Dean or<br />
            Dean of Graduate Studies:_______________________________________
          </td>
          <td width="25%" valign="bottom">
            Date:__________
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>