<% title 'Graduate Applicant | ' + @graduate_applicant.full_name + ' | Planned Program of Study' %>

<p style="color: #fff; font-style: italic"><%= flash[:notice] %></p>

<h1>Planned Program of Study</h1>

<p>
  <b>Created on:</b>
  <%=h @ppos.created_date %>
</p>

<p>
  <b>Created by:</b>
  <%=h @ppos.created_by %>
</p>

<p>
  <% form_for :ppos, @ppos, :url => ppo_path(@graduate_applicant, @ppos), :html => { :method => :put} do |p| %>
    <b>Expires on:</b>
    <%= p.date_select :expires_on, :order => [:month, :year], :discard_day => true %> <%= p.submit 'Save' %>
  <% end %>
</p>

<p>
  <b>Concentration:</b>
  <%=h @ppos.concentration %>
</p>

<p>
  <b>Degree program:</b>
  <%=h DegreeProgram.find(@ppos.degree_program_id).name %>
</p>

<p>
  <table>
    <tr>
      <th>
        Prerequisites
      </th>
      <th>
        Required
      </th>
    </tr>
    <% for ppos_prerequisite in @ppos.ppos_prerequisites -%>
      <tr id="<%= dom_id(ppos_prerequisite) %>">
        <td>
          <%= ppos_prerequisite.prerequisite %>
        </td>
        <td>
          <% if ppos_prerequisite.met %>
            <%= image_tag("true.png", :class => "table_image") %>
          <% else %>
            <%= image_tag("false.png", :class => "table_image") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</p>

<p>
  <table>
    <% total = 0 %>
    <% for ppos_header in @ppos.ppos_headers -%>
      <% subtotal = 0 %>
      <tr id="<%= dom_id(ppos_header) %>">
        <% if ppos_header.position == 1 %>
        <th colspan=4>
          <%= ppos_header.header %>
        </th>
        <th>
          Credits
        </th>
        <% else %>
        <th colspan=5>
          <%= ppos_header.header %>
        </th>
        <% end %>
      </tr>
      <% for ppos_course in ppos_header.ppos_courses -%>
        <tr>
          <td>
            <%= ppos_course.short_dept_name %>
          </td>
          <td>
            <%= ppos_course.course_number %>
          </td>
          <td>
            <%= ppos_course.course_name %>
          </td>
          <td>
            <%= ppos_course.credits %>
          </td>
          <td align=center>
            <% if ppos_course.taken %>
              <%= ppos_course.credits %>
              <% subtotal += ppos_course.credits %>
            <% end %>
          </td>
        </tr>
      <% end -%>
      <% if subtotal > 0 %>
        <tr>
          <td colspan=4>
            Subtotal
          </td>
          <td align=center>
            <%= subtotal %>
          </td>
        </tr>
        <% total += subtotal %>
      <% end %>
    <% end -%>
    <tr>
      <td colspan=4>
        Total Credits in Program
      </td>
      <td align=center>
        <%= total %>
      </td>
    </tr>
  </table>
</p>

<p>
  <%= link_to "Print", { :action => "print", :graduate_applicant_id => @graduate_applicant.id, :ppos_id => @ppos.id }, :popup => true %> | 
  <%= link_to 'Back', ppos_path(@graduate_applicant.id) %>
</p>
